body {
  min-height: 100vh;
  background: #10011a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shine {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headerfontes {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
}

.boxText {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1 0 auto;
  gap: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

.contentbox {
  color: #fff;
  padding: 20px;
  background: rgba(28, 28, 28, 0.5607843137);
}

.insidebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  flex: 1 0 auto;
}

.contentboxinsidelink {
  display: flex;
  flex-wrap: wrap;
}

.stars {
  position: relative;
  display: flex;
  width: 100%;
}

.stars span {
  width: 10px;
  height: 10px;
  background: #ffa500;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 165, 0, 0.2666666667), 0 0 50px #ffa500, 0 0 100px #ffa500;
  animation: animar calc(150s / var(--m)) linear infinite;
}

@keyframes animar {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-20vh) scale(1);
  }
}

.stars span:nth-of-type(2n) {
  background: #ae39e9;
  box-shadow: 0 0 0 10px rgba(160, 45, 255, 0.2666666667), 0 0 50px #ae39e9, 0 0 100px #ae39e9;
}

.stars span:nth-of-type(4n + 1) {
  background: #00bfff;
  box-shadow: 0 0 0 10px rgba(45, 160, 255, 0.2666666667), 0 0 50px #00bfff, 0 0 100px #00bfff;
}

.footerBox {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background: linear-gradient(to bottom, #19002b, #48027a, #7803aa);
  min-height: 100vh;
}

.header {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
  border-radius: 0 0 90px 90px;
  box-shadow: 0px 0px 10px 8px #ae39e9;
}

.logo-alien {
  width: 100px;
}

.titleHeader {
  color: #fff;
  font-size: 62px;
  font-family: "Berkshire Swash", cursive;
  letter-spacing: 2px;
}

.btnContent {
  font-size: 15px;
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.4s;
}

.btnContent:hover {
  background: #48027a;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0 0;
}

.maincontent {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "contentArtigo menuLateral";
  padding-top: 50px;
  flex: 1 0 auto;
}

.menuLateral {
  grid-area: menuLateral;
  padding: 15px;
  margin: 0 30px 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 40px 0 0;
  background: rgba(29, 5, 165, 0.2470588235);
}

.menuLateralTitle {
  color: #fff;
  font-size: 22px;
  font-family: "Berkshire Swash", cursive;
}

.contentLateral {
  width: 95%;
  margin-top: 25px;
  transition: 0.5s;
}

.contentLateral:hover {
  border: 2px solid #000;
  border-radius: 10px;
}

.midialateral {
  width: 100%;
}

.textcardlateral {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.contentFrame {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  margin-right: 25px;
  background: rgba(28, 28, 28, 0.5607843137);
  gap: 15px;
  padding: 25px;
}

.artigo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #fff;
}

.paragrafos {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.imgArtigo {
  width: 300px;
  display: flex;
  border-radius: 25px;
}

.contentArtigo {
  grid-area: contentArtigo;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.titleArtigo {
  font-size: 22px;
  text-align: center;
  padding: 15px;
}

.textArtigo {
  font-size: 14px;
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

hr {
  width: 100%;
  color: #ae39e9;
  margin-top: 25px;
  margin-bottom: 25px;
}

.textArtigofloat {
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
}

.titlemateria {
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 5px;
}

.layoutTotal {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.layoutImg {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px;
}

.about {
  color: #fff;
}

.footer {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
}

.logoFooter {
  width: 50px;
}

.contentFooter,
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.top-logo {
  width: 30px;
  height: 40px;
}

@media (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .maincontent {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0 auto;
    gap: 15px;
  }

  .menuLateral {
    margin: 0 auto;
    border-radius: 40px;
  }

  .contentArtigo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .contentFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 400px) {


  .maincontent {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 25px;
    gap: 10px;
  }

  .menuLateral {}

  .contentArtigo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin: 25px;
    align-items: center;
    justify-content: center;
  }

  .contentFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 490px) {


  .titleHeader {
    font-size: 42px;
  }




}

/*# sourceMappingURL=style.css.map */