* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/*Conteudo geral*/
body {
  background: #281038;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Cabeçalho*/
.header {
  background: #19002b;
  width: 100%;
  min-height: 40px;
  display: flex;
  padding: 25px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 0 0 90px 90px;
  box-shadow: 0px 0px 10px 8px #ae39e9;
}

.logo-alien {
  width: 100px;
}

.titleHeader {
  color: #fff;
  font-size: 62px;
  font-family: "Berkshire Swash", cursive;
  letter-spacing: 2px;
}

.btnContent {
  font-size: 15px;
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.4s;
}

.btnContent:hover {
  background: #48027a;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0 0;
}


/*organização do conteudo central*/

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "contentFrame menuLateral";
  gap: 15px;
  padding: 2vh;
  flex: 1 0 auto;
}

/*Conteudo princiapl*/
.contentFrame {
  grid-area: contentFrame;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(28, 28, 28, 0.5607843137);
  gap: 10px;
}

.artigo {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.paragrafos {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.imgArtigo {
  width: 300px;
  display: flex;
  border-radius: 25px;
}

.titleArtigo {
  font-size: 22px;
  text-align: center;
  padding: 15px;
}

.textArtigo {
  font-size: 14px;
  justify-content: center;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

hr {
  width: 100%;
  color: #ae39e9;
  margin-top: 25px;
  margin-bottom: 25px;
}

.titlemateria {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.layoutImg {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px;
}

.about {
  color: #fff;
}


/*Lista de Documentarios*/
.menuLateral {
  grid-area: menuLateral;
  padding: 15px;
  margin-left: 26px;
  min-width: 300px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background: rgba(29, 5, 165, 0.2470588235);
}

.menuLateralTitle {
  color: #fff;
  font-size: 22px;
  font-family: "Berkshire Swash", cursive;
}

.contentLateral {
  width: 95%;
  margin-top: 25px;
  transition: 0.5s;
}

.contentLateral:hover {
  border: 2px solid #000;
  border-radius: 10px;
}

.midialateral {
  width: 100%;
}

.textcardlateral {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}


/*Rodapé*/

.footer {
  background: #19002b;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px;
  gap: 15px;
}

.logoFooter {
  width: 50px;
}

.contentFooter,
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.top-logo {
  width: 30px;
  height: 40px;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: "Voltar ao Topo";
  position: absolute;
  padding: 4px;
  bottom: 110px;
  left: -40px;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.712);
  color: #000000;
  width: 75px;
  font-weight: bold;
  height: 20px;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.tooltip:is(:hover, :focus)::after {
  opacity: 1;
  transform: translateY(50px);
}


/*Media Query*/

@media (max-width: 930px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .gridContainer {
    grid-template-areas:
      "contentFrame"
      "menuLateral";
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

@media(max-width: 610px) {

  .header {
    padding: 15px;
    flex-wrap: wrap;
    align-items: center;

  }

  .logo-alien {
    width: 90px;
  }

  .titleHeader {
    font-size: 42px;
  }

  .imgArtigo {
    width: 200px;
  }

  .layoutImg {
    width: 70%;
  }

}

@media(max-width: 450px) {

  .footer {
    display: flex;
    flex-direction: row;
  }


}

@media(max-width: 340px) {

  .titleHeader {
    font-size: 22px;
  }

  .logo-alien {
    width: 60px;
  }

  .imgArtigo {
    width: 200px;
  }

  .menuLateral {
    margin-left: 0;
    min-width: 280px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }


}

@media (max-width: 280px) {


  .logo-alien {
    width: 50px;
  }

  .imgArtigo {
    width: 100px;
  }

  .menuLateral {
    margin-left: 0;
    min-width: 280px;
  }

  .top-logo {
    visibility: hidden;
  }

  .footer {
    height: 11vh;
    gap: 0;
    padding: 5px;

  }

}