* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #10011a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shine {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headerfontes {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
}

.logo-alien {
  width: 100px;
}

.titleHeader {
  color: #fff;
  font-size: 62px;
  font-family: "Berkshire Swash", cursive;
  letter-spacing: 2px;
}

.btnContent {
  font-size: 15px;
  padding: 5px;
  margin-right: 10px;
  background: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  transition: 0.4s;
}

.btnContent:hover {
  background: #48027a;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0 0;
}

.boxText {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1 0 auto;
  gap: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

.contentbox {
  color: #fff;
  padding: 20px;
  background: rgba(28, 28, 28, 0.5607843137);
}

.insidebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  flex: 1 0 auto;
}

.contentboxinsidelink {
  display: flex;
  flex-wrap: wrap;
}

.stars {
  position: relative;
  display: flex;
  width: 100%;
}

.stars span {
  width: 10px;
  height: 10px;
  background: #ffa500;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 165, 0, 0.2666666667), 0 0 50px #ffa500, 0 0 100px #ffa500;
  animation: animar calc(150s / var(--m)) linear infinite;
}

@keyframes animar {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-20vh) scale(1);
  }
}

.stars span:nth-of-type(2n) {
  background: #ae39e9;
  box-shadow: 0 0 0 10px rgba(160, 45, 255, 0.2666666667), 0 0 50px #ae39e9, 0 0 100px #ae39e9;
}

.stars span:nth-of-type(4n + 1) {
  background: #00bfff;
  box-shadow: 0 0 0 10px rgba(45, 160, 255, 0.2666666667), 0 0 50px #00bfff, 0 0 100px #00bfff;
}

.footerBox {
  background: #19002b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 25px;
  gap: 15px;
}

.logoFooter {
  width: 50px;
}

.contentFooter,
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}