$preto: #000;
$cinzitransparente: #1c1c1c8f;
$branco: #fff;
$violeta: #ee82ee;
$darkroxo: #19002b;
$mediumroxo: #48027a;
$violetinha: #8a2be2;
$darkviolet: #7803aa;
$darkorchid: #ae39e9;
$darkpink: #ff1493;
$pastelrosa: #d6b3d6;
$vermelho: #ff0000;
$laranja: #ffa500;
$laranjopaco: #ffa50044;
$amarelado: #ffa500;
$azulado: #0000ff;
$transparentazulado: #1d05a53f;
$ceu: #00bfff;
$cinza: #a9a9a9;
$cinzinha: #dcdcdc;
